Connected Services/wsUser/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50550/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50550/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50550/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/wsUser" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_countPersonas_InputMessage">
    <wsdl:part name="parameters" element="tns:countPersonas" />
  </wsdl:message>
  <wsdl:message name="IService1_countPersonas_OutputMessage">
    <wsdl:part name="parameters" element="tns:countPersonasResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getPersonas_InputMessage">
    <wsdl:part name="parameters" element="tns:getPersonas" />
  </wsdl:message>
  <wsdl:message name="IService1_getPersonas_OutputMessage">
    <wsdl:part name="parameters" element="tns:getPersonasResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getPersona_InputMessage">
    <wsdl:part name="parameters" element="tns:getPersona" />
  </wsdl:message>
  <wsdl:message name="IService1_getPersona_OutputMessage">
    <wsdl:part name="parameters" element="tns:getPersonaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getApellidoPersona_InputMessage">
    <wsdl:part name="parameters" element="tns:getApellidoPersona" />
  </wsdl:message>
  <wsdl:message name="IService1_getApellidoPersona_OutputMessage">
    <wsdl:part name="parameters" element="tns:getApellidoPersonaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_addPersona_InputMessage">
    <wsdl:part name="parameters" element="tns:addPersona" />
  </wsdl:message>
  <wsdl:message name="IService1_addPersona_OutputMessage">
    <wsdl:part name="parameters" element="tns:addPersonaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_deletePersona_InputMessage">
    <wsdl:part name="parameters" element="tns:deletePersona" />
  </wsdl:message>
  <wsdl:message name="IService1_deletePersona_OutputMessage">
    <wsdl:part name="parameters" element="tns:deletePersonaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_updatePersona_InputMessage">
    <wsdl:part name="parameters" element="tns:updatePersona" />
  </wsdl:message>
  <wsdl:message name="IService1_updatePersona_OutputMessage">
    <wsdl:part name="parameters" element="tns:updatePersonaResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="countPersonas">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/countPersonas" message="tns:IService1_countPersonas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/countPersonasResponse" message="tns:IService1_countPersonas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getPersonas">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getPersonas" message="tns:IService1_getPersonas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getPersonasResponse" message="tns:IService1_getPersonas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getPersona">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getPersona" message="tns:IService1_getPersona_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getPersonaResponse" message="tns:IService1_getPersona_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getApellidoPersona">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getApellidoPersona" message="tns:IService1_getApellidoPersona_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getApellidoPersonaResponse" message="tns:IService1_getApellidoPersona_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addPersona">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/addPersona" message="tns:IService1_addPersona_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/addPersonaResponse" message="tns:IService1_addPersona_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deletePersona">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/deletePersona" message="tns:IService1_deletePersona_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/deletePersonaResponse" message="tns:IService1_deletePersona_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updatePersona">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/updatePersona" message="tns:IService1_updatePersona_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/updatePersonaResponse" message="tns:IService1_updatePersona_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="countPersonas">
      <soap:operation soapAction="http://tempuri.org/IService1/countPersonas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPersonas">
      <soap:operation soapAction="http://tempuri.org/IService1/getPersonas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPersona">
      <soap:operation soapAction="http://tempuri.org/IService1/getPersona" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getApellidoPersona">
      <soap:operation soapAction="http://tempuri.org/IService1/getApellidoPersona" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addPersona">
      <soap:operation soapAction="http://tempuri.org/IService1/addPersona" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deletePersona">
      <soap:operation soapAction="http://tempuri.org/IService1/deletePersona" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updatePersona">
      <soap:operation soapAction="http://tempuri.org/IService1/updatePersona" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:50550/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>